<html>

<head>
  <meta charset="utf-8">
  <title>Auth</title>
  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- Font-->

</head>

<body>
  <form action="/compagnies" method="post">
    <label for="email">email</label>
    <input type="text" id="email" name="email"> <br><br>
    <label for="nom">nom</label>
    <input type="text" id="nom" name="nom"> <br><br>
    <label for="prenom">prenom</label>
    <input type="text" id="prenom" name="prenom"> <br><br>
    <label for="address">address</label>
    <input type="text" id="address" name="address"> <br><br>


    <input type="submit" value="submit">
  </form>
</body>

</html>