<html>

<head>
  <meta charset="utf-8">
  <title>Auth</title>
  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- Font-->

</head>

<body>
  <form action="/refresh" method="post">
    <label for="refreshAccess">RefreshToken</label>
    <input type="text" id="refreshAccess" name="refreshAccess"> <br><br>
    <input type="submit" value="submit">
  </form>
</body>

</html>